### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

# Maven specific
.mvn/
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# OS and IDE files
*.iml
.idea/
.vscode/
out/

# Logs & temp files
logs/
*.log
tmp/
*.tmp

# Spring Boot specific
application.properties
application.yaml
application-*.properties
application-*.yaml

# Environment variables
.env
.env.*

